
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";

.tom-btn {
  background-color: #4f46e5;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.tom-btn:hover {
  background-color: #4f46e5;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

Link.active {
  text-decoration: underline;
}

.rancho-regular {
   font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}
